<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <system.web>
        <customErrors mode="On" defaultRedirect="/en/error/500.asp">
            <error statusCode="404" redirect="/en/error/404.asp" />
            <error statusCode="500" redirect="/en/error/500.asp" />
        </customErrors>
    </system.web>

    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index-redirect.asp" />
            </files>
        </defaultDocument>
        
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        
        <httpErrors errorMode="Custom" existingResponse="Auto">
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="404" path="/en/error/404.asp" responseMode="ExecuteURL" />
            <error statusCode="500" path="/en/error/500.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
    
</configuration>